/* this will make all cells euqal in width */
table td {
    font: 15px verdana;
    text-align: right;
    white-space: pre-wrap;
}

/* this will make your first row and column bold and gray */
table tr:first-child,
table tr td:first-child {
    font-weight: bold;
    background-color: #ccc;
}
